/.metadata/
/.recommenders/

/RemoteSystemsTempFiles/
/demo-sa-persistence/logs/
/demo-sa-persistence/target/
/demo-sa-service/logs/
/demo-sa-service/target/
/demo-fos-persistence/logs/
/demo-fos-persistence/target/
/demo-fos-service/logs/
/demo-fos-service/target/
/demo-common/
/demo-eureka/
/demo-fos-common/
/demo-fos-persistence/
/demo-fos-service/
/demo-sa-common/
/demo-sa-persistence/
/demo-sa-service/
